.item {
  padding: 10px 20px;
  margin-top: 1rem;
  border: 1px solid var(--secondColor);
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
}
.info {
  display: flex;
  justify-content: space-between;
  flex: 0 0 55%;
  line-height: 3rem;
}
.expense {
  margin-right: 2rem;
}
.amount {
  padding: 3px;
}
.edit-btn {
  color: var(--mainGreen);
}
.clear-btn {
  color: var(--mainRed);
}
.btn {
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 17px;
  transition: 0.2s;
}
.btn:hover {
  font-size: 16px;
}
